# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db



__pycache__/
# Ignore secrets
.env
streamlit/secrets.toml